/* .carousel-item {
    transition: opacity 5s ease-in-out !important; 
} 
*/

.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
} 

.content {
    justify-content: center;
    align-items: center;
    display: flex;    
}