/* Assuming this is in a file like CartButton.css */

.cart-button {
    cursor: pointer;
    position: fixed;
    margin-top:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 83vw;
    top: 6vh;
}

.cart-item-count {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.cart-button:hover{
        color: rgb(55, 137, 231);
}

.gallery {
    width: 80vw;
    min-height: 60vh;
}

.load-button {
    cursor: pointer;
    position: fixed;
    margin-top:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 12vw;
    top: 6vh;
}